<?xml version="1.0" encoding="utf-8"?>
<plugin id="cordova-plugin-floating-window"
  xmlns="http://apache.org/cordova/ns/plugins/1.0" 
  xmlns:android="http://schemas.android.com/apk/res/android"
  version="1.0.0">  
  <name>FloatingWindowPlugin</name>   
  <js-module name="FloatingWindowPlugin" src="www/FloatingWindowPlugin.js"> 
    <clobbers target="FloatingWindowPlugin"/> 
  </js-module>

  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
        <feature name="FloatingWindowPlugin">
            <param name="android-package" value="com.plugin.floatv1.floatingwindow.FloatingWindowPlugin"/>
        </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"> 
      <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW"/>  
      <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
      <uses-permission android:name="android.permission.REORDER_TASKS" />
 
    </config-file>
    <source-file src="src/android/FloatingWindowPlugin.java" target-dir="src/com/plugin/floatv1/floatingwindow"/>   
    <source-file src="src/android/FloatingMainActivity.java" target-dir="src/com/plugin/floatv1/floatingwindow"/>   
    <source-file src="src/android/FloatingVideoService.java" target-dir="src/com/plugin/floatv1/floatingwindow"/>   
    <source-file src="src/android/FloatingSystemHelper.java" target-dir="src/com/plugin/floatv1/floatingwindow"/>   
    
    <source-file src="src/android/res/layout/video_display.xml" target-dir="src/main/res/layout"/>   
    <source-file src="src/android/res/mipmap-xxhdpi/nn_paster_btn_close.png" target-dir="src/main/res/mipmap-xxhdpi"/>  
    <source-file src="src/android/res/mipmap-xxhdpi/nn_paster_btn_scale.png" target-dir="src/main/res/mipmap-xxhdpi"/>
    <source-file src="src/android/res/mipmap-xxhdpi/play_2.png" target-dir="src/main/res/mipmap-xxhdpi"/>  
    <source-file src="src/android/res/mipmap-xxhdpi/pause_2.png" target-dir="src/main/res/mipmap-xxhdpi"/>  
    <source-file src="src/android/res/mipmap-xxhdpi/reverse.png" target-dir="src/main/res/mipmap-xxhdpi"/>  
    <source-file src="src/android/res/mipmap-xxhdpi/speed.png" target-dir="src/main/res/mipmap-xxhdpi"/>  

    <activity android:name="com.plugin.floatv1.floatingwindow.FloatingMainActivity"></activity>

    <service android:name="com.plugin.floatv1.floatingwindow.FloatingVideoService"></service>

  </platform>  


  <platform name="ios"> 
    <config-file parent="/*" target="config.xml"> 
      <feature name="FloatingWindowPlugin"> 
        <param name="ios-package" value="FloatingWindowPlugin"/> 
      </feature> 
    </config-file>  
     <!-- 源文件 -->
     <source-file src="src/ios/FloatingWindowPlugin.m"/> 
     <source-file src="src/ios/FloatingWindowPlugin.h"/> 
     <source-file src="src/ios/FloatViewController.m"/> 
     <source-file src="src/ios/FloatViewController.h"/> 
  </platform> 

 
</plugin>
